body { 
    background: linear-gradient(to right, #00bbff, #0073ff); 
    color: #fff;
   }
   .quote-body { 
    margin: auto; 
    width: 400px; 
    height: 200px; 
    margin-top: 150px;
   }
   #quote { 
    font-size: 40px; 
    font-weight: bold;
   }
   .author {
    font-weight: normal;
    font-size: 20px
   }
   